.app {
  background: rgb(23, 155, 66, 0.7);
  padding: 3rem;
  height: 100vh;
}

.hook-list {
  background: rgb(148, 102, 102);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 100%;
  display: flex;
}

.hook-list-items {
  background: rgb(179, 11, 11);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
  padding: 1rem 1rem;
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}
