.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
}

.hook-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.hook-list-items {
  background: rgb(13, 55, 66, 0.8);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 2rem 5rem;
  font-size: 2rem;
  margin-bottom: 1.8rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
